.logo-form {
    margin-top: 50px;
    width: 220px;
}

html, body {
    /*background-image: url("../img/social-network-bg.png");
    background-repeat: repeat;
    background-size: 300px;*/
}

#form-messages {
    display: none;
}